#actButton {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 999px;
  background-color: rgb(255, 196, 0);
  color: black;
  cursor: pointer;
  margin: 10px;
}

#actButton:hover {
  background-color: black;
  color: #fff;
  text-decoration: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}
